<!DOCTYPE html>
<html>
<head>
    <title>Void</title>

{% load static %}
<script src="{% static "lunicode.js" %}"></script>

<style type="text/css">
    @font-face {
        font-family: unifont;
        src: url('{% static "unifont.ttf" %}') format('truetype');
    }
    body {
        font-family: unifont;
        font-style: 50px;

    }  
</style>
</head>


<body>

<script type="text/javascript">
    
var luni = new Lunicode();

luni.tools.creepify.options.top = true;     
luni.tools.creepify.options.middle = true;  
luni.tools.creepify.options.bottom = true;  
luni.tools.creepify.options.maxHeight = 15; 
luni.tools.creepify.options.randomization = 100;

var encoded = [];

{% for w in whisps %}
    encoded.push({'creep': luni.tools.creepify.encode("{{w.display_text}}"), 'id': "{{ w.id }}"});
{% endfor %}


window.onload = () => {
    for (let i = 0; i < encoded.length; i++) {
        document.getElementById(encoded[i].id).innerHTML = encoded[i].creep;
    }
}



</script>

{% for w in whisps %}
    <a href="interpretation?whisper={{ w.id }}">
        <div class="gibberish-text" id="{{ w.id }}" style="margin: 40px;">
        
        </div>
    </a>
{% endfor %}
</body>
</html>